@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
    font-family: "Indie flower";
    line-height: 2px;
    height: 800px;
    color: rgb(147, 19, 151);
}

h1 {
  font-family: "Indie flower";
  color: rgb(147, 19, 151);
  font-size: 70px;
  font-weight: 300;
  margin-top: 70px;
}

p {
    line-height: 2px;
    font-family: "Indie flower";
    color: #d885d1;
}

.start-title {
    font-family: "Indie flower";
    color: #d885d1;
    font-size: 70px;
    font-weight: 300;
    margin-top: 50px;
} 

.sub-title {
    font-family: "Indie flower";
    font-size: 40px;
    color: rgb(147, 19, 151);
}

button {
    /*border-radius: 15px;*/
    padding: 20px;
    background-color: #d885d1;
    border-color: white;
    color : white;
    font-family: "Indie flower";
    font-size: 16px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 40px;
}  

.cakepic, .game-over-img {
    height: 175px;
    margin: 0px;
}

#myCanvas {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 550px;
    margin-top: 5%;
}

.youwin,  .gameover {
    color: #d885d1;
    font-size: 50px;
    font-weight: 300;
}

.startscreen, .winscreen, .gameoverscreen {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: solid rgb(147, 19, 151) 2px; 
    /*border-radius: 15px;*/
    width: 600px;
    height: 800px;
    padding: 0 auto;
    margin: 0 auto;
}
  
.sean-gif {
    height: 200px;
    width: 300px;
    padding-top: 20px;
}

.smashed-gif {
    height: 250px;
    width: 330px;
    padding-bottom: 35px;
}

.inyourface-gif {
    height: 175px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.gameoverscreen > button {
    margin-top: 0px;
    margin-bottom: 15px;
}

.winscreen > button {
    margin-top: 0px;    
    margin-bottom: 15px;
}

.hidden {
    display: none;
}